#left_arrow{
    margin-left: 1100px;
    margin-top: 250px;
}
#leftarrowmeme1{
    margin-left: 900px;
}
#la{
    margin-left: 950px;
}
#IDK{
    margin-left: 950px;
}
#ooo{
    margin-left: 950px;
}
#j{
    margin-bottom: 100px;
}